@model PwaUai2019.Web.Models.Cursada

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar la cursada?</h3>
<div>
    <h4>Cursada</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Carrera)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carrera)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadAlumnos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadAlumnos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Turno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Turno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Horario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comision)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comision)
        </dd>
    </dl>

    <form asp-action="DeleteCursada">
        <input hidden asp-for="Id" class="form-control" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar al listado</a>
    </form>
</div>
