@model IEnumerable<PwaUai2019.Web.Models.Cursada>

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Materia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carrera)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantidadAlumnos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Turno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aula)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Materia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Carrera)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadAlumnos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Turno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comision)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aula.Nombre)
                    </td>
                </tr>
            }
        </tbody>
    </table>